body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: sandybrown;
    text-align: center;
  }
  input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

  }
  #respuesta {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
  }